//src\sass\layout\_form.scss
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $form-background;
    padding: 20px;
    border: 1px solid $form-border;
    border-radius: 10px;
    margin-bottom: 20px;

    .form__user,
    .form__title,
    .form__note {
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $background-color;
        color: white;

        &::placeholder {
            color: #95a5a6;
        }
    }

}

    .form__btn,
    .form__btnShowNote,
    .Btn {
        @include buttons();
       
}